@using DevForge_Connect.Data
@using DevForge_Connect.Entities.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context;
@inject UserManager<ApplicationUser> _userManager;
@inject SignInManager<ApplicationUser> _signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevForge_Connect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
  


    @* <link rel="stylesheet" href="~/DevForge_Connect.styles.css" asp-append-version="true" /> *@
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">DevForge_Connect</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ProjectSubmissions" asp-action="Index">Projects</a>
                        </li>
                        
                        @if (_signInManager.IsSignedIn(User))
                        {
                            if(User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Status" asp-action="Index">Statuses</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Administration" asp-action="CreateRole">Create Role</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="UserTeams" asp-action="Index">User Teams</a>
                                </li>

                            }

                            if(User.IsInRole("admin") || User.IsInRole("developer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="ProjectBids" asp-action="Index">Bids</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Teams" asp-action="Index">My Teams</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Teams" asp-action="Index" data-bs-toggle="modal" data-bs-target="#TeamRequestModal">
                                    <div class="row">
                                        <div class="col">Notifications</div>
                                        @{
                                            var requestsTeam = await _context.TeamInvites.Where(ti => ti.UserId.Equals(_userManager.GetUserId(User)) && ti.StatusId.Equals(1)).ToListAsync();
                                            List<int> requestsBid = new List<int>();
                                            foreach (var bid in _context.ProjectBids)
                                            {
                                                var result = _context.ProjectSubmissions.Find(bid.ProjectId);
                                                if (result.creatorId.Equals(_userManager.GetUserId(User)) && bid.StatusId.Equals(1))
                                                {
                                                    requestsBid.Add(result.Id);
                                                }
                                            }
                                            var notificationCount = 0;
                                            if (requestsTeam.Count > 0 || requestsBid.Count > 0)
                                            {
                                                notificationCount += @requestsTeam.Count;
                                                notificationCount += @requestsBid.Count;
                                                <div class="col bg-danger rounded-4">@notificationCount</div>
                                            }
                                        }
                                    </div>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="TeamRequestModal" tabindex="-1" aria-labelledby="TeamRequestModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                @{
                                                    var requestsTeam = await _context.TeamInvites.Where(ti => ti.UserId.Equals(_userManager.GetUserId(User)) && ti.StatusId.Equals(1)).Include(ti => ti.InvitingTeam).ToListAsync();

                                                    List<int> requestsBid = new List<int>();

                                                    foreach (var bid in _context.ProjectBids)
                                                    {
                                                        var result = _context.ProjectSubmissions.Find(bid.ProjectId);
                                                        if (result.creatorId.Equals(_userManager.GetUserId(User)) && bid.StatusId.Equals(1))
                                                        {
                                                            requestsBid.Add(result.Id);
                                                        }
                                                    }

                                                    <div class="row d-flex justify-content-center">
                                                        @if (requestsTeam.Count > 0 || requestsBid.Count > 0)
                                                        {
                                                            @foreach (var Team in requestsTeam)
                                                            {
                                                                <div class="col-6">
                                                                    @Team.InvitingTeam.Name invited you to their team!
                                                                </div>
                                                                <a class="col-2 btn btn-success p-auto"
                                                                   asp-controller="TeamInvites"
                                                                   asp-action="AcceptTeamInvite"
                                                                   asp-route-id="@Team.Id">Accept</a>

                                                                <a class="col-2 btn btn-danger"
                                                                   asp-controller="TeamInvites"
                                                                   asp-action="DeclineTeamInvite"
                                                                   asp-route-id="@Team.Id">Decline</a>
                                                                   <hr />
                                                            }
                                                            @foreach (var request in requestsBid)
                                                            {
                                                                var result = _context.ProjectSubmissions.Find(request);
                                                                <div class="col-8">
                                                                    New Bid for your Project: @result.Title!
                                                                </div>
                                                                <a class="col-2 btn btn-primary"
                                                                   asp-controller="ProjectSubmissions"
                                                                   asp-action="Details"
                                                                   asp-route-id="@request"
                                                                   asp-route-requestsBid="@string.Join(",", requestsBid)">See Bid</a>
                                                                <hr />
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="col">
                                                                No new notifications to show, go join some more projects.
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Dashboard", "Administration")">Dashboard</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
   
    @RenderBody()

    <!-- info section -->

    <footer>
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mx-auto info_col">
                    <div class="info_contact">
                        <h4>
                            Address
                        </h4>
                        <div class="contact_link_box">
                            <a href="">

                                <span>
                                    University of Southern Indiana, 8600 University Blvd, Evansville, IN 47712
                                </span>
                            </a>
                            <a href="">

                                <span>
                                    Call +01 812-465-1080
                                </span>
                            </a>
                            <a href="">

                                <span>
                                    IT@usi.edu
                                </span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 mx-auto info_col">
                    <div class="info_detail">
                        <h4>
                            Info
                        </h4>
                        <p>
                            Created and developed by students of University of Southern Indiana using technical skills of NLP, AI, web development, database managment, and more.
                        </p>
                    </div>
                </div>


                <div class="col-md-6 col-lg-2 mx-auto info_col">
                    <div class="info_link_box">
                        <h4>
                            Links
                        </h4>
                        <div class="info_links">
                            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                                <a class="active" asp-area="" asp-controller="ProjectSubmissions" asp-action="Index">
                                Project Submission
                            </a>
                            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">
                                About
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    </footer>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DevForge_Connect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
