@using DevForge_Connect.Services.NLP_Translator
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DevForge_Connect.Entities.ProjectSubmission
@inject ITranslator _nlTranslator
@{
    ViewData["Title"] = "Details";
}

<h1>Project Information</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10" style="white-space: pre-line">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NlpTags)
        </dt>
        <dd class = "col-sm-10">
            <div class="row">
                @{
                    // TODO - Make it so the badge color matches whether the current user has this skill
                    bool tagColor = false;
                    var tags = _nlTranslator.DecatNlpTags(Model.NlpTags);
                    foreach (var tag in tags)
                    {
                        if (tagColor)
                        {
                            <span class="badge badge-pill bg-danger col-2 m-1">@tag</span>
                        }
                        else
                        {
                            <span class="badge badge-pill bg-success col-2 m-1">@tag</span>
                        }

                        tagColor = !tagColor;
                    }
                }
            </div>
        </dd>
    </dl>
</div>
<hr />

<div class="h2 text-center text-primary">Developer Bids</div>

<table class="table table-striped" id="BidTable">
    <thead>
    <tr>
        <th>
            User
        </th>
        <th>
            Offer Amount
        </th>
        <th>
            Finish By Date
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Bids) {
        <tr>
            <td class="align-items-center">
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.OfferAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Description)
            </td>
            <td>
                <a asp-controller="ProjectBids" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">More Details</a> |
                <a asp-controller="ProjectBids"  asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Accept</a> |
                <a asp-controller="ProjectBids" asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Decline</a> |
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="row">
    @if (User.IsInRole("developer") || User.IsInRole("admin"))
    {
        <a class="btn btn-outline-success col" asp-action="Create" asp-controller="ProjectBids">Submit Bid</a>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/Table_Initializers/BidTable.js"></script>
}
