@model DevForge_Connect.Entities.ProjectSubmission

@{
    ViewData["Title"] = "Details";
}

<h1>Project Information</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10" style="white-space: pre-line">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Description)
        </dd>
    </dl>
</div>
<hr />

<div class="h2 text-center text-primary">Developer Bids</div>

<table class="table table-striped" id="BidTable">
    <thead>
    <tr>
        <th>
            User
        </th>
        <th>
            Offer Amount
        </th>
        <th>
            Finish By Date
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Bids) {
        <tr>
            <td class="align-items-center">
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.OfferAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Description)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">More Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Accept</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Decline</a> |
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="row">
    <a class="btn btn-outline-success col" asp-action="Details" asp-controller="ProjectBids">Submit Bid</a>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/Table_Initializers/BidTable.js"></script>
}
