@using DevForge_Connect.Services.NLP_Translator
@using Microsoft.IdentityModel.Tokens
@model IEnumerable<DevForge_Connect.Entities.ProjectSubmission>
@inject ITranslator _nlTranslator

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<div class="row">
    <a asp-action="Create" class="col btn-outline-success btn">Create New</a>
</div>

<div class="table-responsive" >
    <table class="table stripe" id="ProjectTable" data-page-length="25">
        <thead>
        <tr>
            <th class="col-6">
                Project Information
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td class="col-6" style="white-space: pre-line">
                    <div class="h3 fw-bold">@item.Title</div>
                    @Html.DisplayFor(modelItem => item.Description)
                    @{
                        if (item.NlpTags != null && !item.NlpTags.IsNullOrEmpty())
                        {
                            <div>
                                <div class="h5 fw-bold">
                                    NLP Tags
                                    <div class="row">
                                    @{
                                        // TODO - Make it so the badge color matches whether the current user has this skill
                                        bool tagColor = false;
                                        var tags = _nlTranslator.DecatNlpTags(item.NlpTags);
                                        foreach (var tag in tags)
                                        {
                                            if (tagColor)
                                            {
                                                <span class="badge badge-pill bg-danger col-2 m-1">@tag</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill bg-success col-2 m-1">@tag</span>
                                            }

                                            tagColor = !tagColor;
                                        }
                                    }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funding)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/Table_Initializers/ProjectSubmissionTable.js"></script>
}

